<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bingo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
 
    <div class="w3-center">
        <form action="" enctype='multipart/form-data' method='POST'>
            虛擬下注:<input id="v_num" name="v_num" class="w3-input w3-center" style="margin-bottom:5px;width:100%" value="27 45 66">
            分析組數:<input id="target" type="number" name="target" class="w3-input w3-center" style="margin-bottom:5px;width:100%" value="0">
            <input type="submit" value="分析" class="w3-button w3-red" style="margin-top:5px;width:100%"/>
        </form>
    </div>

</body>
</html>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4099702434286902"
     crossorigin="anonymous"></script>